<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NutritionContext" providerName="System.Data.SqlClient" connectionString="Server=81369c35-c265-4c82-b0cd-a22900c31b1a.sqlserver.sequelizer.com;Database=db81369c35c2654c82b0cda22900c31b1a;User ID=jjtrkcepuclsftgf;Password=akHtkLGVHUyPa8PmQaWUKuv6aLoPFwuJpkT7RxaSX6gMNCJXyobm6CKNXLtGw2ok;" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="NutritionContext" connectionString="metadata=res://*/NutritionEntity.csdl|res://*/NutritionEntity.ssdl|res://*/NutritionEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAKUBU;initial catalog=NutritionDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>