<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NutritionContext" connectionString="metadata=res://*/NutritionEntity.csdl|res://*/NutritionEntity.ssdl|res://*/NutritionEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=81369c35-c265-4c82-b0cd-a22900c31b1a.sqlserver.sequelizer.com;initial catalog=db81369c35c2654c82b0cda22900c31b1a;User ID=jjtrkcepuclsftgf;Password=akHtkLGVHUyPa8PmQaWUKuv6aLoPFwuJpkT7RxaSX6gMNCJXyobm6CKNXLtGw2ok;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>